<div class="top-menu">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="contact-info">
          <p>Phone: +01 256 25 235</p>
          <p>Email: info&#64;eiser.com</p> <!-- FIXED @ Symbol Issue -->
        </div>
      </div>
      <div class="col-lg-5">
        <div class="menu-links">
          <ul class="right-side">
            <li><a routerLink="/cart">Gift Card</a></li>
            <li><a routerLink="/tracking">Track Order</a></li>
            <li><a routerLink="/contact">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
