<div class="top-menu">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="contact-info">
          <p>Phone: +216 27 932 190</p>
          <p>Email: Myloc&#64;eiser.com</p> <!-- FIXED @ Symbol Issue -->
        </div>
      </div>
      <div class="col-lg-5">
        <div class="menu-links">
          <ul class="right-side">
            <li><a routerLink="/cart">Ouvert 7j/7</a></li>
            <li><a routerLink="/tracking">9h - 20h</a></li>
            <li><a href="https://www.google.com/maps/place/MyLoc/@36.8478473,10.2691722,671m/data=!3m2!1e3!4b1!4m6!3m5!1s0x12fd4b0006fb1ded:0xff42c38c374a06fa!8m2!3d36.847843!4d10.2717471!16s%2Fg%2F11wmqynqrh?entry=ttu&g_ep=EgoyMDI1MDEyMi4wIKXMDSoASAFQAw%3D%3D">Les berges du lac 2, Tunis </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
