<header class="header" [ngClass]="{'sticky__header': isScrolled}">
  <!-- Header Top -->
  <div class="header__top">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="header__top__left">
        <span>Besoin d'aide?</span>
        <span class="header__top__help">
          <i class="ri-phone-fill"></i> +216 27 932 190
        </span>
      </div>
      <div class="header__top__right">
        <ng-container *ngIf="user; else guestLinks">
          <h5 class="mb-0">{{ user.username }}</h5>
          <a routerLink="/logout" class="btn btn-dark">Déconnexion</a>
        </ng-container>
        <ng-template #guestLinks>
          <a routerLink="/login" class="auth-link"><i class="ri-login-circle-line"></i> Se connecter</a>
          <a routerLink="/register" class="auth-link"><i class="ri-user-line"></i> S'inscrire</a>
        </ng-template>
      </div>
    </div>
  </div>

  <!-- Header Middle -->
  <div class="header__middle">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="logo">
        <h1>
          <a routerLink="/home" class="logo-background">
            <span>Comparator</span>
          </a>
        </h1>
      </div>
      <div class="header__info">
        <div class="header__location">
          <i class="ri-earth-line"></i>
          <div>
            <h4>Tunisia</h4>
            <h6>Les berges du lac 2, Tunis</h6>
          </div>
        </div>
        <div class="header__hours">
          <i class="ri-time-line"></i>
          <div>
            <h4>Ouvert 7j/7</h4>
            <h6>9h - 20h</h6>
          </div>
        </div>
      </div>
      <button class="header__btn">
        <a routerLink="/contact">
          <i class="ri-phone-line"></i> Appel
        </a>
      </button>
    </div>
  </div>

  <!-- Main Navbar -->
  <nav class="main__navbar">
    <div class="container d-flex align-items-center justify-content-between">
      <span class="mobile__menu" (click)="toggleMenu()">
        <i class="ri-menu-line"></i>
      </span>
      <div class="navigation" #menu [ngClass]="{'menu__active': isMenuOpen}" (click)="toggleMenu()">
        <ul class="nav__list">
          <li *ngFor="let item of navLinks">
            <a [routerLink]="item.path" routerLinkActive="nav__active" class="nav__item">
              {{ item.display }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
