<div title="Contact">
  <app-common-section [title]="'Contact'"></app-common-section>

  <section>
    <div class="container">
      <div class="formbold-flex-container" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="500">
        <!-- Contact Form -->
        <div class="formbold-main-wrapper">
          <div class="formbold-form-wrapper">
            <div class="formbold-form-header">
              <h3>Entrer en contact</h3>
              <div class="social-icons">
                <a href="https://facebook.com/your-page" target="_blank" title="Facebook" class="social-icon">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://instagram.com/your-page" target="_blank" title="Instagram" class="social-icon">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>
            </div>
            <form action="#" method="POST" class="formbold-chatbox-form">
              <div class="formbold-mb-5">
                <label for="name" class="formbold-form-label">Votre nom</label>
                <input
                  type="text"
                  name="name"
                  id="name"
                  placeholder="Votre nom"
                  class="formbold-form-input"
                />
              </div>
              <div class="formbold-mb-5">
                <label for="email" class="formbold-form-label">Email</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="example@domain.com"
                  class="formbold-form-input"
                />
              </div>
              <div class="formbold-mb-5">
                <label for="message" class="formbold-form-label">Message</label>
                <textarea
                  rows="5"
                  name="message"
                  id="message"
                  placeholder="Votre message"
                  class="formbold-form-input"
                ></textarea>
              </div>
              <div>
                <button class="formbold-btn w-full">Envoyer un message</button>
              </div>
            </form>
          </div>
        </div>



        <!-- Image Section -->
        <!--div class="formbold-image-wrapper" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="500">

          <a
          href="https://www.google.com/maps/place/Global+ENR/@36.8482126,10.2719857,17z/data=!3m1!4b1!4m6!3m5!1s0x12fd4bed8664683b:0x37947a01e22d15e6!8m2!3d36.8482126!4d10.2719857!16s%2Fg%2F11kj4p9h4b?entry=ttu&g_ep=EgoyMDI1MDEyMi4wIKXMDSoASAFQAw%3D%3D"
          class="background-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="background-image"></div>
        </a>
        </div-->

        <!--div class="formbold-image-wrapper" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="500">
          <a
            href="https://www.google.com/maps/place/Global+ENR/@36.8482126,10.2719857,17z/data=!3m1!4b1!4m6!3m5!1s0x12fd4bed8664683b:0x37947a01e22d15e6!8m2!3d36.8482126!4d10.2719857!16s%2Fg%2F11kj4p9h4b?entry=ttu&g_ep=EgoyMDI1MDEyMi4wIKXMDSoASAFQAw%3D%3D"
            class="background-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div class="background-image"></div>
          </a>
        </div-->
        <div class="contact-image" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="600">
          <a href="https://www.google.com/maps/place/MyLoc/@36.8478473,10.2691722,671m/data=!3m2!1e3!4b1!4m6!3m5!1s0x12fd4b0006fb1ded:0xff42c38c374a06fa!8m2!3d36.847843!4d10.2717471!16s%2Fg%2F11wmqynqrh?entry=ttu&g_ep=EgoyMDI1MDEyMi4wIKXMDSoASAFQAw%3D%3D" target="_blank">
            <img src="../../../../assets/maps.PNG" alt="MyLoc_position">
          </a>
        </div>

      </div>
    </div>
  </section>
</div>
