<div class="card">
  <h2>Bookings</h2>

  <!-- Buttons for filtering bookings -->
  <div class="switch-buttons">
    <button
      [ngClass]="{'active': activeButton === 'pending'}"
      (click)="showPending()"
    >
      En Cours
    </button>
    <button
      [ngClass]="{'active': activeButton === 'traited'}"
      (click)="showTraited()"
    >
      Traité
    </button>
  </div>

  <table class="p-table" *ngIf="filteredBookings.length > 0">
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Car</th>
        <th>User Email</th>
        <th>Days</th>
        <th>Phone</th>
        <th>Description</th>
        <th>Booking Period</th>
        <!--th>Pickup Location</th>
        <th>Dropoff Location</th-->
        <th>Status</th>
        <th>Action</th> <!-- Action buttons -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of filteredBookings">
        <td>{{ booking.username }}</td>
        <td>{{ booking.carName }}</td>
        <td>{{ booking.userEmail }}</td>
        <td>{{ booking.nbrJrs }}</td>
        <td>{{ booking.phone }}</td>
        <td>{{ booking.description }}</td>
        <td>{{ booking.formattedDate }}</td>
        <td>
        <span [ngClass]="{
          'status-confirmed': booking.status === 'CONFIRMED',
          'status-declined': booking.status === 'DECLINED'
        }">
        {{ booking.status }}
        </span>
        </td>
        <td>
          <button (click)="accept(booking)" class="btn-accept">Accept</button>
          <button (click)="refuse(booking)" class="btn-refuse">Refuse</button>
        </td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="filteredBookings.length === 0">No bookings available.</p>
</div>
