.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 70%;
  margin: 0 auto; /* Centrer le conteneur */
  background: white;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Adapter la largeur au conteneur */
  height: 80%; /* Adapter la hauteur au conteneur */
}
